html {
  background-color: #111111;
}

body {
  margin: 0;
  background-color: #111111;
}
/* Hide the menu bar */
body > .titlebar {
  display: none;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; /* Set the background color of the navigation bar to transparent */
  padding: 10px 20px;
  box-sizing: border-box;
}

nav button {
  background-color: transparent; /* Set the background color of the buttons to transparent */
  border: none; /* Remove the button border */
  color: #ffffff; /* Set the color of the button text */
  margin-right: auto;
  margin-left: auto;
  font-size: 16px; /* Set the font size of the button text */
  padding: 10px 20px; /* Add padding around the button text */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the buttons */
}

nav button:hover {
  background-color: #ffffff; /* Set the background color of the buttons on hover */
  color: #111111; /* Set the color of the button text on hover */
}