<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" type="text/css" href="../settings/settings.css">
</head>
<body>
    <div class = "navbar">
        <a href="../../index.html">Home</a>
        <div class = "subnav">
            <button class = "subnavbtn">Origin <i class="fa fa-caret-down"></i></button>
            <div class = "subnav-content">
                <a href="components/Origin/Race/Race.html" class="disabled">Race</a>
                <a href="components/Origin/Class/Class.html" class="disabled">Class</a>
                <a href="components/Origin/Background/Background.html" class="disabled">Backgrounds</a>
                <a href="components/Origin/Ability/Ability.html" class="disabled">Abilities</a>
                <a href="components/Origin/Magic/Magic.html" class="disabled">Magic</a>
                <a href="components/Origin/Equipment/Equipment.html" class="disabled">Equipment</a>
            </div>
        </div>
        <a href="components/Creator/Creator.html">Creator</a>
        <a href="components/CharacterSheet/CharacterSheet.html" class="disabled">Character Sheet</a>
        <a href="components/settings/settings.html">Settings</a>
    </div>
    <button id="toggle-dark-mode">Toggle Dark Mode</button>
    <script src="../../renderer.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const creationInProgress = localStorage.getItem('characterCreationInProgress');
    
            if (creationInProgress === 'true') {
                // If character creation has started, enable the links
                document.querySelectorAll('.disabled').forEach(link => {
                    link.classList.remove('disabled');
                    link.style.pointerEvents = 'auto';
                });
            }
        });
    </script>
  </body>
</body>
</html>