<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origin-Artist</title>
    <link rel="stylesheet" href="Race.css">
</head>
<body>
    <div class="navbar">
        <a href="../../../index.html">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Origin <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="/src/renderer/components/Origin/Race/Race.html">Race</a>
                <a href="../../Origin/Class/Class.html">Class</a>
                <a href="../../Origin/Background/Background.html">Background</a>
                <a href="../../Origin/Ability/Ability.html">Abilities</a>
                <a href="../../Origin/Magic/Magic.html">Magic</a>
                <a href="../../Origin/Equipment/Equipment.html">Equipment</a>
            </div>
            <a href="../../Creator/Creator.html">Creator</a>
            <a href="../../CharacterSheet/CharacterSheet.html">Character Sheet</a>
        </div>
    </div>
    <script src="Race.js"></script>
    <div id="race-details"></div>
    <p>This is the Race Page</p>
</body>