<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origin-Artist</title>
    <link rel="stylesheet" href="Class.css">
</head>
<body>
    <div class="navbar">
        <a href="../../../index.html">Home</a>
        <div class="subnav">
            <button class="subnavbtn">Origin <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
                <a href="/src/renderer/components/Origin/Race/Race.html">Race</a>
                <a href="../../Origin/Class/Class.html">Class</a>
                <a href="../../Origin/Background/Background.html">Background</a>
                <a href="../../Origin/Ability/Ability.html">Abilities</a>
                <a href="../../Origin/Magic/Magic.html">Magic</a>
                <a href="../../Origin/Equipment/Equipment.html">Equipment</a>
            </div>
        </div>
        <a href="../../Creator/Creator.html">Creator</a>
        <a href="../../CharacterSheet/CharacterSheet.html">Character Sheet</a>
    </div>
    <script src="Class.js"></script>
    <p>This is the Class Page</p>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const creationInProgress = localStorage.getItem('characterCreationInProgress');
            const creationComplete = localStorage.getItem('characterCreationComplete');
    
            if (creationInProgress !== 'true' || creationComplete === 'true') {
                // If character creation has not started or is complete, enable the links
                document.querySelectorAll('.disabled').forEach(link => {
                    link.classList.remove('disabled');
                    link.style.pointerEvents = 'auto';
                });
            }
        });
    </script>    
</body>