body {
  margin: 0;
}

#navbar {
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #23272A;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar li {
  float: left;
  width: 20%;
}

#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px 0px;
  text-decoration: none;
  width: 100%;
}

#navbar li a:hover {
  color: #99AAB5;
}

#sidebar {
  position: fixed;
  bottom: -9px;
  right: -200px;
  width: 200px;
  min-height: 100%;
  background-color: #23272A;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  margin-bottom: 0;
}

#sidebar.show {
  right: 0;
}

#toggle-sidebar {
  position: fixed;
  top: 100px;
  left: 50px;
  width: 400px;
  height: 200px;
  border-radius: 12px;
  border-style: hidden;
  margin-top: 20px;
  margin-bottom: 0px;
  background-image: url("../assets/NewCharacter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  list-style: none; /*Remove bullet points*/
  font-family: Trajan Pro; /* Change the font family */
  font-size: 24px; /* Change the font size */
  color: #ffffff; /* Change the font color */
}

#toggle-sidebar:hover {
  transform: scale(1.005);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

#toggle-sidebar {
  transition: all 0.3s ease-in-out;
}
