html {
  background-color: #111111;
}

body {
  margin: 0;
  background-color: #111111;
}

p {
  background-color: #111111;
}

/* Hide the menu bar */
body > .titlebar {
  display: none;
}

#navbar {
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #212121;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar li {
  float: left;
  width: 20%;
}

#navbar li a {
  display: block;
  color: #999999;
  text-align: center;
  font-family: "HelveticaNeue",Helvetica,Arial,sans-serif;
  padding: 18px 0px;
  text-decoration: none;
  width: 100%;
}

#navbar li a:hover {
  color: #E5E6EA;
}

#sidebar {
  position: fixed;
  bottom: -9px;
  right: -600px;
  width: 600px;
  min-height: 100%;
  background-color: #212121;
  z-index: 1;
  transition: all 0.5s ease-in-out;
  margin-bottom: 0;
}

#sidebar.show {
  right: 0;
}

#toggle-sidebar {
  position: fixed;
  top: 100px;
  left: 50px;
  width: 300px;
  height: 150px;
  border-radius: 12px;
  border-style: hidden;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-image: url("../assets/NewCharacter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  list-style: none; /*Remove bullet points*/
  font-family: Trajan Pro; /* Change the font family */
  font-size: 24px; /* Change the font size */
  color: #ffffff; /* Change the font color */

}

#toggle-sidebar p {
  margin: 0;
  padding: 0;
}

#toggle-sidebar:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

#toggle-sidebar {
  transition: all 0.3s ease-in-out;
}

#close-sidebar {
  position: absolute;
  bottom: 200px;
  right: 50px;
}

#Create-Character {
  position: absolute;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery a {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
}

#gallery img {
  width: 100%;
  height: auto;
}

