<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Origin-Artist</title>
    <link rel="stylesheet" href="./CharacterSheet.css">
</head>
<body>
    <div class = "navbar">
        <a href="../../index.html">Home</a>
        <div class = "subnav">
            <button class = "subnavbtn">Origin <i class="fa fa-caret-down"></i></button>
            <div class = "subnav-content">
                <a href="components/Origin/Race/Race.html" class="disabled">Race</a>
                <a href="components/Origin/Class/Class.html" class="disabled">Class</a>
                <a href="components/Origin/Background/Background.html" class="disabled">Backgrounds</a>
                <a href="components/Origin/Ability/Ability.html" class="disabled">Abilities</a>
                <a href="components/Origin/Magic/Magic.html" class="disabled">Magic</a>
                <a href="components/Origin/Equipment/Equipment.html" class="disabled">Equipment</a>
            </div>
        </div>
        <a href="../Creator/Creator.html">Creator</a>
        <a href="./CharacterSheet.html" class="disabled">Character Sheet</a>
        <a href="../settings/settings.html">Settings</a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const creationInProgress = localStorage.getItem('characterCreationInProgress');
            if (creationInProgress === 'true') {
                document.querySelectorAll('.disabled').forEach(link => {
                    link.classList.remove('disabled');
                    link.style.pointerEvents = 'auto';
                });
            }
        });
    </script>
</body>
</html>
